<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'enrique'">La persona es enrique</p>
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'enrique'">La persona es enrique</p>
  <p *ngSwitchCase="'juan'">La persona es juan</p>
  <p *ngSwitchCase="'elizabeth'">La persona es elizabeth</p>
  <p *ngSwitchDefault>No hace match</p>
</div>

<hr />

<h1>*ngFor Objts</h1>
<div>
  <div *ngFor="let product of products">
    <img width="250" [src]="product.image" alt="imagen producto" />
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>
<hr />

<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>

<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i + 1 }} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr />

<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<input type="number" required [(ngModel)]="person.age" />
<p *ngIf="person.name === 'enrique' && person.age === 19; else elseBlock">
  Soy el enri
</p>
<p *ngIf="person.age >= 29">Puedes entrar</p>

<ng-template #elseBlock>
  <p>Bloque Else</p>
</ng-template>

<hr />

<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>
<p>Age {{ person.age }}</p>
<input
  type="number"
  max="18"
  min="10"
  required
  #ageInput="ngModel"
  [(ngModel)]="person.name"
/>
<p>Valid: {{ ageInput.valid }}</p>

<hr />

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="addYears()">Increase age</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad consectetur
    magni veniam? Nisi eum consequuntur nesciunt porro optio eaque laboriosam
    at. In quaerat nihil nostrum voluptates quidem deleniti culpa temporibus! In
    assumenda eaque, dolor consectetur non, excepturi id nesciunt aliquam
    provident itaque odit voluptates veritatis harum mollitia maxime quod
    obcaecati. Vel corrupti consectetur esse ratione debitis quas eaque
    voluptatibus quia. Dicta ex nihil vitae, nostrum blanditiis earum assumenda
    sed mollitia veritatis exercitationem a, asperiores recusandae quisquam.
    Minus qui quis, odit voluptas amet autem maiores iste. Iusto expedita
    inventore praesentium reiciendis! Consectetur expedita laboriosam dolores
    nesciunt repudiandae reiciendis dolore, alias commodi sed ea animi quod
    temporibus voluptates perferendis veniam rem iste nulla necessitatibus
    labore error? Sapiente blanditiis itaque cupiditate ad adipisci! Aliquam
    sint blanditiis accusamus soluta. Nam ea inventore cum incidunt vel
    reprehenderit provident atque corrupti dignissimos, alias qui quaerat
    molestias accusamus delectus nulla quisquam iste officia. Adipisci maiores
    est illo! Sapiente, dolore repudiandae amet nobis facilis voluptatibus error
    nam. Ullam aspernatur quae voluptate blanditiis dolorum nam cupiditate
    aliquid? Possimus veritatis deleniti ex dolores ducimus facilis voluptate
    suscipit blanditiis natus perspiciatis! Repudiandae deserunt, porro, quod
    pariatur eum doloremque consectetur tempora mollitia possimus velit tenetur
    quia dolorem, sequi natus consequuntur. Quod numquam itaque distinctio
    facilis impedit quis explicabo consequatur esse nulla nisi. Odio saepe animi
    perferendis porro quae ipsam dignissimos totam asperiores corporis, rerum ab
    necessitatibus, magni veniam quidem illum doloremque cum quibusdam
    voluptatum fugiat reiciendis? Sunt corporis magni minima saepe amet. Odit
    reiciendis, ad et doloribus maiores quod nam aliquam amet itaque repudiandae
    ipsam ea. Eveniet aliquam natus cumque magnam! Doloribus inventore possimus
    quos tenetur fuga amet neque? Modi, delectus sequi? Consequatur accusamus
    perspiciatis vitae omnis eligendi, facilis, deserunt amet aspernatur
    possimus eum ut? Aspernatur, voluptas sit? Sunt aspernatur veniam quo, nam,
    explicabo dolorem omnis consequuntur laborum ducimus doloribus, dolor iste?
    Dignissimos tenetur ipsam eaque illo. Alias ea recusandae molestiae magni
    asperiores quidem doloribus eaque illum accusamus iste aspernatur, laborum
    illo nihil quae, nam labore? Consequuntur itaque libero odio animi labore?
    Laboriosam, ad quam aperiam, omnis eaque praesentium ipsa odio esse facere
    voluptatibus minima quod minus explicabo delectus vitae magni ipsum, fugit
    et ipsam eius earum nihil. Id doloribus dolore nulla. Ea fugit impedit,
    recusandae maiores molestias fugiat velit deserunt, iste tempora quis id
    illum, perspiciatis corporis quidem! Eaque quam sed quia voluptates
    recusandae odit accusamus, magni veniam, porro perferendis in. Fugit placeat
    dignissimos repellat excepturi optio doloribus nulla eligendi autem earum
    ducimus porro similique impedit animi, alias praesentium natus omnis
    quisquam sunt sit corporis asperiores ullam error numquam ex. Inventore?
    Porro eos itaque perspiciatis repellendus unde obcaecati, ab quam fugit
    adipisci in ullam, delectus laudantium tenetur assumenda est atque. Itaque
    iste ea accusamus cum recusandae hic unde facere sunt sint. Aliquam, error.
    Animi labore ullam quod iusto ipsum. Totam a cupiditate laborum, magni
    dolorum ipsum pariatur dolores modi consequatur impedit, explicabo
    reiciendis ut excepturi vel, quae soluta alias aspernatur quisquam! Cumque,
    rem deserunt dolores enim facere quis consectetur suscipit non, quisquam
    iste voluptatem recusandae neque assumenda commodi? Autem, veritatis nemo
    non facere qui expedita, officiis sit, beatae veniam eum dignissimos!
    Architecto quibusdam, dolorem provident rerum voluptate laborum soluta,
    labore beatae eveniet suscipit quaerat, explicabo deleniti. Harum eaque
    libero sit beatae. Vitae sint quis ipsam. Impedit asperiores voluptas facere
    beatae provident? Provident neque perspiciatis, ducimus illum necessitatibus
    ipsam quod architecto enim non nostrum quis esse numquam praesentium. Nulla
    sapiente ipsa commodi aut? Culpa, aspernatur molestiae. Facilis delectus
    saepe officiis quod eaque! Voluptate exercitationem cum quibusdam accusamus,
    voluptatum dolore laborum, modi laboriosam quaerat rem quo, iusto soluta
    ipsa dignissimos suscipit quam ea ut est! Aspernatur esse non incidunt
    corporis sed harum odio! Quae ex provident dolorum sed, hic asperiores fugit
    quisquam perspiciatis consectetur nulla sapiente possimus? Quisquam
    obcaecati iure laboriosam sit, possimus molestias fugit dolore repudiandae
    expedita reprehenderit nulla suscipit ab aliquam! Quibusdam, aspernatur sit,
    incidunt eos saepe libero suscipit laborum repellat assumenda recusandae
    dignissimos dolorum placeat quaerat asperiores? Ab aut ea dolorem ipsam
    assumenda itaque vitae deleniti. Totam vitae odit facere? Unde quia minus
    doloribus sequi iusto, voluptates explicabo ab placeat perspiciatis, qui
    maiores soluta? Numquam, dolorum ut. Nam quos et veritatis, ipsam debitis
    accusantium fugit assumenda nobis aliquam asperiores quis? Sit, nisi
    numquam. Porro itaque, autem magnam recusandae illo, impedit facere vel
    perferendis, tempore in fugit cumque adipisci. Aliquam amet a magnam vero
    rem officiis reprehenderit mollitia expedita libero ea! Harum nihil
    reiciendis quaerat necessitatibus quis odit saepe aliquid aliquam maiores
    eaque facere iure quae, quo rem itaque sed odio repellendus porro quibusdam
    deleniti adipisci. Labore tempora expedita esse tenetur? Temporibus, neque
    reprehenderit? Itaque, veritatis voluptas vitae quidem voluptatem iusto nisi
    autem quisquam repudiandae porro cum aliquam beatae iure incidunt libero
    deleniti hic perspiciatis quibusdam iste laborum exercitationem vel numquam.
    Molestiae in veniam obcaecati quaerat, saepe, amet ducimus, a aliquam
    molestias atque fuga minus cum cupiditate nisi praesentium rerum mollitia
    quae quod beatae! Qui quod officia rem eveniet inventore porro! Labore atque
    delectus, dolor tenetur perferendis sed reiciendis sapiente consequuntur!
    Atque maiores quisquam nihil nulla, aspernatur nobis dolorem saepe accusamus
    distinctio praesentium! Doloribus doloremque repellat harum voluptas porro
    ad blanditiis. Reiciendis veniam cupiditate eos est quis nam ipsa deserunt,
    possimus rerum repellat perferendis nobis repellendus dolorum magni illum
    aut. Labore cumque nemo magni neque expedita hic doloremque quae adipisci
    perferendis. Necessitatibus, eveniet repudiandae nihil laboriosam eos velit
    quisquam quos ut quam delectus, rem ipsum sequi dignissimos hic vero est
    illo reprehenderit rerum, iure culpa? Illum minima blanditiis dolores modi
    aperiam! In tempora eos doloribus vero vitae, quisquam, iste aut mollitia
    enim velit eius, pariatur facere. Rem, porro eum error nam quisquam
    necessitatibus quaerat eveniet sapiente eligendi voluptates repudiandae,
    quam inventore. Tempore molestiae molestias inventore aliquid ducimus ut
    perferendis ab eveniet quas deserunt vero voluptatibus saepe neque quia
    omnis similique dicta dolores ea temporibus, rerum soluta iure quis!
    Corporis, deleniti necessitatibus. Dolores eius vel voluptates harum iure
    eum nemo, modi, et excepturi ducimus aut consequatur assumenda sed.
    Recusandae placeat facere itaque vitae dolore laboriosam ullam, eveniet
    corporis exercitationem asperiores tempore cumque. Ipsum repellendus optio
    quae praesentium nulla sed culpa minima, repellat debitis. Aliquid dolorum
    ad, dolore minima quasi ipsam dolorem sint aperiam fugiat provident a dicta
    laboriosam consequatur totam adipisci nisi. Placeat odit dignissimos
    mollitia aut? Sint quae facilis architecto vitae. Quo hic nisi incidunt
    cumque aperiam, neque dolorem. Voluptatem deleniti itaque voluptate sit iure
    fuga dicta natus illo nesciunt placeat! Totam, quis tempore quia iusto
    voluptas ducimus est nostrum, accusamus quos fugiat officia molestias,
    temporibus ullam modi. Accusantium molestiae alias repellat optio
    perspiciatis earum eos laborum nihil numquam, veritatis inventore! Neque,
    quisquam reprehenderit ut corrupti ex obcaecati vitae, deserunt dolores iste
    praesentium sint veniam ad quia quidem minus rem molestias voluptatibus
    consequatur id earum architecto vero magni temporibus fugit? Maiores. Neque
    iure eius odio quibusdam cupiditate exercitationem sequi provident laborum
    commodi esse blanditiis doloremque ducimus alias sunt ab molestiae
    accusantium, fuga accusamus, ullam placeat fugiat dignissimos. Sapiente
    ullam necessitatibus quis? Blanditiis aspernatur nisi repellendus
    accusantium doloremque laborum, consequatur quis ullam ut, sapiente, culpa
    autem id. Corrupti nesciunt quis recusandae quasi architecto, natus sint
    magnam. Nulla nemo quae doloremque blanditiis voluptatum? Voluptatum facere
    eos placeat, ea repudiandae eum perspiciatis possimus nemo pariatur suscipit
    omnis tempore assumenda dolores iste quasi neque, voluptatem sed tenetur,
    distinctio vero odio illo quis. Quasi, eaque. Odit. Necessitatibus minima
    perferendis dolores itaque dolorem corrupti eveniet non velit commodi
    temporibus corporis saepe quos, hic voluptas, soluta a impedit tenetur
    tempora totam porro. Accusamus illo tempore similique optio nulla. Quia quo
    placeat ea molestiae repellat, debitis omnis? Voluptatum quam fugiat
    consectetur adipisci odio obcaecati consequuntur voluptatem veritatis
    aliquid, sit quaerat magni omnis hic blanditiis, dolore ipsa porro natus
    officia. Repellat laboriosam doloremque vel quam vitae delectus eveniet,
    ullam natus minus quis sit assumenda dolores consequuntur numquam quos quas
    id quia commodi, perferendis maxime reprehenderit placeat debitis nisi.
    Numquam, dicta. Est sunt odio consequatur vel labore quis hic maxime
    exercitationem commodi alias culpa, optio deserunt expedita libero modi
    molestiae eligendi quasi officia quibusdam, quo nemo repellendus vero ab
    similique. Dolore? Consectetur assumenda distinctio culpa maiores, enim
    reprehenderit, neque vel porro deleniti, dicta consequatur omnis optio
    repellat doloribus. Sint eligendi, iure dicta accusantium temporibus
    nesciunt labore minima excepturi dolorum animi expedita. Assumenda similique
    suscipit sed fugit corrupti, soluta cupiditate pariatur illo natus ut quasi
    quisquam earum asperiores recusandae debitis tempore, aliquam dolores
    nesciunt! Voluptates, doloribus mollitia officia odio rem impedit magni!
    Excepturi, reiciendis ipsum labore quasi quibusdam voluptatum esse molestiae
    vitae dolorem in, porro eum maxime recusandae quo delectus eius. Nulla,
    officiis soluta. Delectus dolorem aperiam, iure autem neque sequi
    perspiciatis? Cupiditate, enim ad. Architecto alias eius delectus
    repudiandae, molestiae unde dicta a culpa necessitatibus exercitationem,
    error omnis est nihil ex voluptatum pariatur quas provident nisi! Tempore
    maiores aliquam deleniti explicabo? Eveniet ad, cum quasi itaque facere eius
    magni ipsam repellendus ullam ipsa error quis et rem veniam quod natus!
    Consectetur minus tempore ex sequi ipsum deleniti, optio ducimus doloribus
    cumque? Eos omnis repellat fuga vitae provident dolore dicta voluptatem
    recusandae a distinctio odio id nemo animi fugit aperiam consectetur
    mollitia neque enim nesciunt libero, sapiente dolores sed perspiciatis!
    Molestiae, minima! Temporibus corrupti doloribus animi tempora veritatis
    sed, debitis expedita facere non in numquam deserunt? Accusamus
    necessitatibus numquam ab harum, nisi est dicta qui voluptate non rem fugiat
    nesciunt cupiditate corrupti. Minima nemo, placeat ducimus tempora vel et,
    nihil tenetur, dignissimos illo laboriosam blanditiis magni dolorum unde
    pariatur consectetur error cum perspiciatis itaque enim laudantium. Officia
    voluptatem rerum totam necessitatibus praesentium? Explicabo illum
    asperiores nisi at consequuntur, inventore magni saepe provident,
    reprehenderit maxime quasi aliquid! Dolor iure, eveniet officiis aspernatur
    magnam impedit earum nisi quae alias corporis modi eos ab. Temporibus.
    Delectus asperiores consequuntur, magni quibusdam, voluptatum sed sapiente
    quae odio reiciendis minima repudiandae culpa incidunt, assumenda debitis
    eum illo. Voluptatibus animi quam ad impedit eaque modi unde veniam, nemo
    iusto. Pariatur, quidem delectus. Error, reprehenderit delectus consectetur
    in odit exercitationem, reiciendis, fuga ullam doloremque accusantium et
    provident dolorum dignissimos dolorem. Necessitatibus natus quidem eveniet
    architecto repudiandae enim dicta. Amet, soluta? Veniam totam nisi
    laboriosam corrupti tempora natus saepe! Fuga, voluptates exercitationem
    quis quas velit hic labore illo error odit recusandae vero, animi non atque
    nemo aperiam maiores! Amet, doloremque voluptatum. Ratione amet nostrum
    dolores quidem dolore! Voluptas praesentium deleniti at iste quibusdam
    laboriosam, aperiam, porro nam illo consequatur, dolorum officiis.
    Voluptatum ullam esse commodi non eligendi aliquam accusamus sequi
    cupiditate? Aspernatur quam optio, esse inventore, possimus cum dolore
    voluptatem sapiente accusamus atque facilis aperiam provident id porro iste
    molestiae nulla et commodi natus tempora nisi reiciendis perspiciatis? Modi,
    dolorem quo. Totam expedita cupiditate, laborum rem veniam commodi in! Porro
    doloremque placeat aliquam praesentium ut, tempore maiores eos ab eveniet
    blanditiis? Vero dolorem obcaecati autem quia consectetur sint quas possimus
    libero? Unde, soluta. Ab officiis, quia enim commodi at labore voluptatum
    dolorem velit beatae. Ducimus officiis ullam distinctio architecto tempore
    officia tenetur laboriosam odit velit, aspernatur iure suscipit, excepturi
    mollitia illum? Cum, odit, asperiores consectetur error eius, minima aliquam
    esse aut recusandae porro commodi. Veniam modi nihil itaque sit error,
    aspernatur doloremque nemo, a doloribus molestiae saepe. Aspernatur quis
    nulla quae! Quibusdam officiis quam quidem consequatur placeat accusamus
    sapiente, consectetur porro non sequi quae earum repudiandae ad doloribus
    corrupti, nam voluptates eaque ipsam, nostrum autem animi quas vel aliquid
    voluptatem! Fugit. Voluptatem sequi similique accusamus! Modi vero commodi
    fuga adipisci itaque inventore incidunt? Explicabo dolore perspiciatis
    numquam libero hic voluptatem facilis architecto veniam, commodi iure
    blanditiis non, optio ab suscipit quidem. Temporibus, neque officiis
    reiciendis laborum harum ullam facilis non cum! Animi facilis exercitationem
    consequatur doloribus similique doloremque culpa ipsa! Voluptates optio
    deleniti iure quae amet explicabo voluptas dicta laborum velit. Vitae,
    architecto. Porro laborum eligendi, rerum, natus nostrum provident
    repudiandae incidunt ea quis eius voluptate. Expedita exercitationem qui
    pariatur voluptatum dicta natus incidunt modi iusto tenetur, harum,
    provident vero et? Expedita quod suscipit iure illum perferendis consequatur
    numquam vel sit ipsa eos facere at sunt distinctio natus amet odit quo
    exercitationem dignissimos, corrupti a dolores reprehenderit dolorem
    facilis? Non, natus. Accusantium voluptatibus vitae distinctio quo
    repudiandae cupiditate eveniet in velit sapiente, aliquam, id vero at nisi
    minus. Nobis impedit accusamus nisi odio dolorum voluptates! Esse ratione
    veritatis explicabo provident fuga! Nihil, explicabo ratione, repellat
    doloribus culpa quod tempore vero omnis necessitatibus, iste mollitia ipsum
    minima consectetur quisquam deleniti voluptates ipsam laudantium vitae a!
    Dolor, neque mollitia sapiente ea dolores quod? Dolorum architecto doloribus
    provident, ipsam sapiente ab reiciendis veniam, iusto labore perspiciatis
    suscipit dolores veritatis incidunt perferendis? Ullam voluptatibus ratione
    corrupti repudiandae rerum. Qui amet, eum dolore est molestias corporis? In
    non veniam reiciendis libero, nesciunt id est soluta adipisci voluptatum
    dolore deleniti dicta, tenetur aspernatur rem atque hic quos natus, nam
    magnam sunt ipsa expedita ipsam provident. Tempore, laudantium. Laborum
    cupiditate ab quis neque corrupti in labore, magnam vero nemo nesciunt
    veniam perferendis consequuntur! Nisi voluptatum, neque, perferendis porro
    exercitationem aliquid nostrum veniam autem voluptas debitis, eveniet quae
    repudiandae! Sint dolore voluptatibus earum doloremque numquam quam aperiam,
    quas praesentium velit libero quasi dicta ratione ex dolor nobis et
    voluptates. Tempore, corrupti a provident beatae natus error voluptate
    aspernatur omnis! Eveniet minima enim voluptas, quis accusantium aspernatur.
    Tenetur id ullam quisquam. Nostrum illo nam repellendus, perspiciatis
    laudantium cum expedita? Vitae unde illum voluptate veniam nulla ad cumque
    sunt libero repellat? Laborum consequuntur mollitia, ea quo distinctio sunt
    quos quia vero odit dicta natus impedit id quidem a dolorem labore placeat
    repudiandae nulla molestiae odio? Consectetur eligendi veniam maxime
    expedita quidem? Dignissimos est nemo accusantium provident fugiat
    voluptatum quas aliquid iusto rem illum accusamus adipisci voluptas tempore
    fugit earum et minus veritatis aut, alias id odio incidunt dolorum? Ipsa,
    consequatur perspiciatis! Sunt quibusdam, minus dignissimos deleniti
    voluptatum eaque inventore molestiae pariatur modi in vel maiores quidem
    dolore delectus sit ducimus! Incidunt alias omnis minus eum aut non sed
    inventore eius asperiores! Inventore harum delectus iure labore modi
    corrupti quasi id illum impedit voluptas eos, est voluptatem consequatur,
    quam necessitatibus sed ab! Architecto totam consequatur nam pariatur ab.
    Ipsa quo praesentium doloribus! Aspernatur, numquam itaque ea odio nulla
    exercitationem asperiores possimus dolorum hic veritatis modi deserunt
    ipsam, blanditiis unde eius provident! Facere nemo nihil quisquam doloremque
    nam recusandae laboriosam, id iste numquam. Eius doloribus omnis in dicta
    suscipit dolore perferendis fugiat ea. Odit deleniti ipsum, ad quis
    consequatur vitae magnam sequi fugiat nisi, veniam repudiandae? Alias quidem
    nulla autem reprehenderit, illum iusto. Aut alias perspiciatis sapiente
    aspernatur magnam, asperiores, quas porro eos earum adipisci ea architecto
    corporis labore laboriosam? Atque quae mollitia, repudiandae distinctio, at
    ab ut tempore labore molestiae, eligendi fuga. Sint ab cum laboriosam
    officiis ea dignissimos facere ex sapiente aliquid error. Dicta veniam
    aliquid deserunt eveniet ipsam, vel et reprehenderit vero eos! Reiciendis
    voluptatem autem ad dolorum adipisci illum! Voluptas nisi, dolorum fugit
    tenetur quae harum facere debitis iste ab commodi rem voluptate aspernatur
    iusto quam corporis enim at eveniet illum nihil sapiente veritatis. Laborum
    eos qui quam est. Dignissimos aspernatur, unde, voluptates repellat,
    similique delectus magnam eos corrupti ad voluptate aliquam voluptatum.
    Explicabo beatae voluptates modi, ratione maiores, ut quia omnis repudiandae
    expedita provident ea aperiam voluptatum quae! Odit earum amet repudiandae
    reprehenderit provident illo beatae minima, veniam voluptatem, alias
    distinctio quidem, quis quam suscipit hic voluptate accusamus voluptatibus
    nam sit laborum corrupti. Temporibus harum sint consequuntur voluptas. Iure
    recusandae, corporis sunt dolores nostrum nihil et repudiandae odio qui quia
    eligendi eos quo fuga enim? Quam molestiae nobis ducimus praesentium labore
    vero perferendis, numquam maiores harum commodi esse! Veritatis autem et
    quaerat delectus facilis harum ad dolorem assumenda incidunt voluptatum.
    Expedita tempora placeat vitae distinctio tempore exercitationem quasi aut
    ipsam, obcaecati, blanditiis soluta consectetur? Neque perspiciatis non
    adipisci! Minima, nostrum soluta recusandae expedita totam facere corporis
    nesciunt reiciendis vel. Quaerat eum voluptate, praesentium impedit natus
    iure distinctio libero aperiam, quo totam eius est rerum reiciendis dicta
    reprehenderit quia. Suscipit a totam doloremque enim necessitatibus ducimus
    commodi cum atque, consequatur veritatis tenetur voluptatibus, tempora
    debitis officia! Est accusamus iusto at, reprehenderit sint hic laborum,
    consequatur sed, qui nostrum repellendus? Atque asperiores sapiente
    laudantium ipsam. Iusto provident inventore consequatur saepe eius repellat
    nam aliquam perspiciatis vero, exercitationem velit expedita illum molestias
    sed debitis non voluptas impedit excepturi perferendis dolores maxime!
    Eveniet fugiat, dolore corporis deserunt quis earum modi libero voluptate
    quae neque cupiditate quos facilis doloribus aspernatur ullam rerum quod
    alias quam veritatis. Illum, harum dolorum qui ipsa reiciendis nihil.
    Delectus error in non? In recusandae doloribus corporis iusto ea provident,
    tempora reprehenderit explicabo molestiae placeat aperiam vel natus ab
    excepturi aut rem quas deleniti vero esse, illum adipisci pariatur!
    Dignissimos optio praesentium magnam cupiditate dolore porro iure vero
    suscipit illo impedit placeat perferendis earum aspernatur odio quam vel,
    quaerat obcaecati. Est tempora dolore eius iure quam earum vero ipsum!
    Ratione in ipsam accusantium quisquam a optio animi error laudantium!
    Ratione ut ad ducimus architecto deserunt, aspernatur nesciunt eveniet ipsam
    minus possimus. Atque autem, et eaque nisi perspiciatis eligendi quis!
    Cupiditate, impedit facere, temporibus hic expedita sunt, veritatis vel
    facilis quaerat asperiores blanditiis aspernatur. Esse hic cum adipisci
    architecto expedita. Nisi, aliquam. A, nostrum illum debitis quaerat
    similique consectetur odit! Sequi molestias debitis, beatae nostrum at
    dignissimos vel. Qui sapiente illum distinctio omnis maiores quis libero
    assumenda non nisi ex modi neque, officia odit, officiis aspernatur quaerat
    minima doloribus! Accusantium. Laborum et voluptas, qui tenetur a neque
    recusandae veritatis molestiae omnis assumenda quis cupiditate soluta
    itaque. Id, suscipit. Sapiente in est suscipit ea, fugit quasi. Fugit magni
    iure nobis quod. Porro, libero temporibus ex ullam doloribus velit
    voluptatibus odio ducimus aut ipsa, optio nisi in repudiandae quibusdam
    deleniti sequi mollitia ipsum incidunt provident sunt. Iusto ad quis
    architecto inventore cupiditate. Error distinctio dignissimos natus placeat
    quo quam laboriosam illo impedit asperiores ullam atque beatae suscipit
    rerum iure nisi nostrum aspernatur, perspiciatis cumque ut est. Magnam dolor
    sapiente commodi saepe ad! Ab ducimus eius, nulla fugiat in incidunt
    veritatis sapiente facilis id illum deleniti quod! Officia accusantium non
    natus, excepturi aliquam deleniti quod, facilis libero adipisci unde,
    voluptatum voluptas architecto maxime. Quas ut assumenda deleniti eligendi,
    laborum perferendis dolor illum ipsa id quisquam ipsum, libero ab sunt
    dolore culpa, temporibus incidunt facere reiciendis eos aperiam fugit vero
    provident cumque nostrum. Maxime?
  </p>
</div>

<input type="text" [value]="person.name" (keyup)="changeName($event)" />

<br />

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100px" [src]="person.avatar" alt="" />

<hr />

<h1>Hola Mundo</h1>
<h2>{{ "Hola Mundo. ".repeat(4) }}</h2>
<p>3+3={{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img src="{{ img }}" alt="image" />
