<!-- <h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'enrique'">La persona es enrique</p>
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'enrique'">La persona es enrique</p>
  <p *ngSwitchCase="'juan'">La persona es juan</p>
  <p *ngSwitchCase="'elizabeth'">La persona es elizabeth</p>
  <p *ngSwitchDefault>No hace match</p>
</div> -->

<hr />

<h1>*ngFor Objts</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="imagen producto" />
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>
<hr />

<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>

<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i + 1 }} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr />

<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<input type="number" required [(ngModel)]="person.age" />
<p *ngIf="person.name === 'enrique' && person.age === 19; else elseBlock">
  Soy el enri
</p>
<p *ngIf="person.age >= 29">Puedes entrar</p>

<ng-template #elseBlock>
  <p>Bloque Else</p>
</ng-template>

<hr />

<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>
<p>Age {{ person.age }}</p>
<input
  type="number"
  max="18"
  min="10"
  required
  #ageInput="ngModel"
  [(ngModel)]="person.name"
/>
<p>Valid: {{ ageInput.valid }}</p>

<hr />

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100px" [src]="person.avatar" alt="" />

<hr />

<h1>Hola Mundo</h1>
<h2>{{ "Hola Mundo. ".repeat(4) }}</h2>
<p>3+3={{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img width="200" src="{{ img }}" alt="image" />
