<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input.group">
    <label for="">Nombre</label>
    <input type="text" required [(ngModel)]="register.name" name="name" />
    <p>Mensajes de error</p>
  </div>
  <div class="input.group">
    <label for="">Email</label>
    <input
      type="email"
      id="email"
      required
      [(ngModel)]="register.email"
      name="email"
    />
    <p>Mensajes de error</p>
  </div>
  <div class="input.group">
    <label for="">Password</label>
    <input
      type="password"
      required
      [(ngModel)]="register.password"
      name="password"
    />
    <p>Mensajes de error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Register</button>
  <button type="button">Action</button>
</form>

<hr />

<h1>Class & Style</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />

<hr
  class="line-error"
  [ngClass]="{
    valid: nameInput4.valid,
    invalid: nameInput4.invalid
  }"
/>

<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />

<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>

<div class="styles">
  <div>
    <input type="text" required [(ngModel)]="box.width" />
    <input type="number" required [(ngModel)]="box.height" />
    <input type="color" required [(ngModel)]="box.background" />
  </div>
  <div>
    <div
      [ngStyle]="{
        'width.px': box.width,
        'height.px': box.height,
        'background-color': box.background,
        display: 'block'
      }"
    ></div>
  </div>
</div>

<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">
  Texto texto text
</p>

<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar" />
  </div>
</div>

<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'enrique'">La persona es enrique</p>
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'enrique'">La persona es enrique</p>
  <p *ngSwitchCase="'juan'">La persona es juan</p>
  <p *ngSwitchCase="'elizabeth'">La persona es elizabeth</p>
  <p *ngSwitchDefault>No hace match</p>
</div>

<hr />

<h1>*ngFor Objts</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="imagen producto" />
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>
<hr />

<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>

<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i + 1 }} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr />

<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<input type="number" required [(ngModel)]="person.age" />
<p *ngIf="person.name === 'enrique' && person.age === 19; else elseBlock">
  Soy el enri
</p>
<p *ngIf="person.age >= 29">Puedes entrar</p>

<ng-template #elseBlock>
  <p>Bloque Else</p>
</ng-template>

<hr />

<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>
<p>Age {{ person.age }}</p>
<input
  type="number"
  max="18"
  min="10"
  required
  #ageInput="ngModel"
  [(ngModel)]="person.name"
/>
<p>Valid: {{ ageInput.valid }}</p>

<hr />

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100px" [src]="person.avatar" alt="" />

<hr />

<h1>Hola Mundo</h1>
<h2>{{ "Hola Mundo. ".repeat(4) }}</h2>
<p>3+3={{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img width="200" src="{{ img }}" alt="image" />
